.heading {

    font-size: 175%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

.ingredients{

    font-size: 115%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: circle;

}

.instructions{
    
    font-size: 115%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

p{

    font-size: 115%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#pancakes{

width: 35%;
border: 2px black dashed;

}

body{

    border: 4px black solid;
    width: 60%;
    overflow: hidden;
    height: 100%;
}

#body{

    background-color: antiquewhite;
    height: 1000px;

}
