div { 

    text-align: center;
    overflow: hidden;
    border: 2px solid rgb(50, 0, 78);
    width: 300px;
    font-family: Apple Chancery;
    background-image: url("C02C7203-B8A5-4E10-9B6E-041BA5996C4C.gif");
    color: white;
    border-style: outset;
}

div h1 {

    font-style: oblique;

}
